In [16]:
%matplotlib inline
import numpy as np
import matplotlib.pyplot as plt

# 用range 快速生成list

In [8]:
range (1, 11, 2)

range(1, 11, 2)

In [9]:
list (range(1, 11, 2))

[1, 3, 5, 7, 9]

In [11]:
list ("asdffwfewe")

['a', 's', 'd', 'f', 'f', 'w', 'f', 'e', 'w', 'e']

In [12]:
[x**2 for x in range(1, 10)] # 1-10的平方

[1, 4, 9, 16, 25, 36, 49, 64, 81]

## for 迴圈

In [14]:
for i in range (1, 6):
    print (i)

1
2
3
4
5

# 寫一個程式 1加到100

In [20]:
s = 0
a = range (1, 101)
for i in a:
    s = s + i
print (s)

5050

In [21]:
s = 0
for i in range (1, 101):
    s = s + i

## list append

In [43]:
price = [1024, 399, 20000]

In [44]:
eur = 34.1415677

In [42]:
for p in price:
    print (eur*p)

34960.9653248
13622.485512300002
682831.354

In [30]:
L = []

In [32]:
L.append (87)

In [33]:
L

[87]

In [36]:
L.append ("hh")

In [37]:
L

[87, 'hh']

In [47]:
A = []
for p in price:
    A.append (eur*p)

In [48]:
A

[34960.9653248, 13622.485512300002, 682831.354]

## 字串分割

In [58]:
spam = input ("輸入價格")
for p in spam:
    p = float(p)
    print (p*eur)
spam.split(",") #沒成功

輸入價格22, 222
68.2831354
68.2831354

ValueError: could not convert string to float: ','

In [62]:
p_list = []
spam = input ("輸入價格")
data = spam.split(",")

for p in data:
    p = float(p) #浮點數有很多小數點
    p_list.append(p*eur)
    print ("價格", int (p*eur), "台幣") #int 整數

輸入價格22, 55
價格 751 台幣
價格 1877 台幣

In [63]:
spam = "399 333 12 345"

In [65]:
spam .split(" ") #要求他空格隔開

['399', '333', '12', '345']

In [66]:
spam ="      33, 45,    55,  3, 88,    1"
spam .split(" ") # 一個空格會隔開一次，所以有很多個空格會變這樣

['',
 '',
 '',
 '',
 '',
 '',
 '33,',
 '45,',
 '',
 '',
 '',
 '55,',
 '',
 '3,',
 '88,',
 '',
 '',
 '',
 '1']

In [70]:
spam.split() # 這樣就可以救了

['33,', '45,', '55,', '3,', '88,', '1']

# 一件偉大的事情 用map 代替 for
## map (f, L)
### 把f作用到L list 中的每一個函數

In [74]:
def exchange(p):
    p = float(p)
    return p*eur

In [75]:
exchange("33")

1126.6717341

In [81]:
L = "922, 44, 33, 55, 67".split(",")
list(map(exchange, L))

[31478.525419400004,
 1502.2289788,
 1126.6717341,
 1877.7862235000002,
 2287.4850359]

In [85]:
L = (333, 22, 5)

In [82]:
def f(x):
    return x**2

In [83]:
f(2)

4

In [87]:
list(map(lambda p:float(p)*eur, L))

[11369.142044100001, 751.1144894, 170.7078385]

In [88]:
egg = [9, 4, 8, 7]

In [89]:
list(map(lambda a:float(a)*2+1, egg))

[19.0, 9.0, 17.0, 15.0]

In [90]:
grade = (47, 45, 58, 75)

## list comprehansion

In [91]:
L

(333, 22, 5)

In [95]:
[float(p)*eur for p in L]

[11369.142044100001, 751.1144894, 170.7078385]

# 為字體加顏色

In [96]:
#. print("\033[顯示方式; 前景色;背景色m文字內容]")

# 合併list

In [99]:
L

(333, 22, 5)

In [101]:
s = " "
for i in L:
    s = s+1

TypeError: can only concatenate str (not "int") to str

# 物件中的method

In [104]:
egg = [12, 87, 55, 77, 32]

In [107]:
egg.sort() # shit=tab可以看到說明，裡面有in place 兩字，表示會改變原本的函數排序

In [108]:
egg

[12, 32, 55, 77, 87]

In [109]:
ham = "今天天氣很好"

In [110]:
ham.reverse #字串沒有反轉功能

AttributeError: 'str' object has no attribute 'reverse'

In [118]:
ham [:-1]

'今天天氣很'

In [120]:
from ipywidgets import interact

In [128]:
def move (n = ):
    print "" "n + Q_Q"

SyntaxError: invalid syntax (<ipython-input-128-1ddb0686dd13>, line 1)