## 車子分析

In [3]:
%matplotlib inline
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [33]:
df = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/car/car.data', 
                names = column_names)

In [34]:
df.head()

  buying price  maint  doors  persons  lug_boot  safety  class values
0        vhigh  vhigh      2        2     small     low         unacc
1        vhigh  vhigh      2        2     small     med         unacc
2        vhigh  vhigh      2        2     small    high         unacc
3        vhigh  vhigh      2        2       med     low         unacc
4        vhigh  vhigh      2        2       med     med         unacc

In [35]:
column_names = 'buying price, maint, doors, persons, lug_boot, safety, class values'.split(',')

# 依據購入價排序

In [45]:
df.sort_values(by = "buying price", ascending = False).head()

    buying price  maint  doors  persons  lug_boot  safety  class values
0          vhigh  vhigh      2        2     small     low         unacc
285        vhigh    med      4        4       big     low         unacc
296        vhigh    med      4     more       big    high           acc
295        vhigh    med      4     more       big     med           acc
294        vhigh    med      4     more       big     low         unacc