# 勞工生活及就業狀況調查

## 資料來源：政府資料開放平台

In [4]:
%matplotlib inline
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

### 整體工作情形滿意度

In [5]:
df = pd.read_csv('https://apiservice.mol.gov.tw/OdService/download/A17000000J-020078-LPO')

In [6]:
df.head()

  統計項目別      細項  樣本數（人）  很滿意（%）  滿意（%）  普通（%） 不滿意（%） 很不滿意（%）
0    性別       男    1891    12.5   54.0   29.9    3.2     0.5
1    性別       女    2191    11.8   57.2   28.0    2.6     0.4
2    年齡  15-24歲     246    15.7   49.8   33.1    1.4       -
3    年齡  25-44歲    2573    11.0   55.5   29.5    3.5     0.5
4    年齡  25-34歲    1348    10.5   54.6   30.8    3.4     0.7

# 最滿意工作的前五名

In [13]:
df_sort = df.sort_values('很滿意（%）', ascending = False)

In [17]:
df_sort.head()

   統計項目別         細項  樣本數（人）  很滿意（%）  滿意（%）  普通（%） 不滿意（%） 很不滿意（%）
9     年齡      65歲以上      22    30.4   58.3   11.3      -       -
22  每月收入     10萬元以上      62    26.6   57.2   16.2      -       -
21  每月收入  8萬-未滿10萬元      58    25.4   55.6   16.8    2.1       -
37    行業   礦業及土石採取業      33    23.7   60.7   15.6      -       -
61    職業  農林漁牧業生產人員      25    22.0   68.8    7.9    1.3       -

## 資料分群，看哪項因素對滿意度影響最大

In [25]:
dfg= df.groupby(by = "統計項目別").sum()

In [26]:
dfg_sort  = dfg.sort_values('很滿意（%）', ascending = False)

In [27]:
dfg_sort

        樣本數（人）  很滿意（%）   滿意（%）  普通（%）
統計項目別
行業        8130   272.3  1217.0  553.7
每月收入      4082   151.0   490.1  233.6
職業        4082   122.5   507.7  240.3
年齡        7896   120.7   449.1  210.6
工作年資      4082    97.6   446.4  231.5
規模        4082    56.8   278.0  147.6
教育程度      4082    51.1   226.1  112.2
地區        4082    49.6   221.5  117.0
勞動契約性質    4082    32.5   140.7  120.2
性別        4082    24.3   111.2   57.9

# 看一下收入對滿意度的影響

In [34]:
dfm = df_sort[df_sort.統計項目別=='每月收入']

In [35]:
dfm

   統計項目別             細項  樣本數（人）  很滿意（%）  滿意（%）  普通（%） 不滿意（%） 很不滿意（%）
22  每月收入         10萬元以上      62    26.6   57.2   16.2      -       -
21  每月收入      8萬-未滿10萬元      58    25.4   55.6   16.8    2.1       -
14  每月收入      未滿19,047元     103    19.7   47.5   28.4    4.3       -
15  每月收入  19,047元-未滿2萬元     164    16.7   54.5   27.5    1.3       -
20  每月收入       6萬-未滿8萬元     229    16.5   57.7   22.0    3.6     0.1
16  每月收入     2萬-未滿2.5萬元     451    16.2   47.5   33.4    2.5     0.4
19  每月收入       4萬-未滿6萬元    1273    10.3   59.0   27.8    2.5     0.5
18  每月收入       3萬-未滿4萬元    1098    10.2   56.3   29.3    3.7     0.4
17  每月收入     2.5萬-未滿3萬元     644     9.4   54.8   32.2    2.8     0.8

In [36]:
dfm_sort  = dfm.sort_values('很滿意（%）', ascending = False)

In [37]:
dfm_sort.head()

   統計項目別             細項  樣本數（人）  很滿意（%）  滿意（%）  普通（%） 不滿意（%） 很不滿意（%）
22  每月收入         10萬元以上      62    26.6   57.2   16.2      -       -
21  每月收入      8萬-未滿10萬元      58    25.4   55.6   16.8    2.1       -
14  每月收入      未滿19,047元     103    19.7   47.5   28.4    4.3       -
15  每月收入  19,047元-未滿2萬元     164    16.7   54.5   27.5    1.3       -
20  每月收入       6萬-未滿8萬元     229    16.5   57.7   22.0    3.6     0.1

# 發現收入未滿兩萬的人滿意度分居三四名，因此將很滿意與滿以加起來再看一次

In [42]:
dfm["滿意與很滿意加總"]=dfm.iloc[:, 3:5].sum(axis=1)
dfm_sort  = dfm.sort_values('滿意與很滿意加總', ascending = False)
dfm_sort.head()

/Applications/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

   統計項目別             細項  樣本數（人）  很滿意（%）  滿意（%）  普通（%） 不滿意（%） 很不滿意（%）  滿意與很滿意加總
22  每月收入         10萬元以上      62    26.6   57.2   16.2      -       -      83.8
21  每月收入      8萬-未滿10萬元      58    25.4   55.6   16.8    2.1       -      81.0
20  每月收入       6萬-未滿8萬元     229    16.5   57.7   22.0    3.6     0.1      74.2
15  每月收入  19,047元-未滿2萬元     164    16.7   54.5   27.5    1.3       -      71.2
19  每月收入       4萬-未滿6萬元    1273    10.3   59.0   27.8    2.5     0.5      69.3